<% @theories.each do |theory| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= theory.title %></h1>
    <i><%= theory.writer %></i><br /><br />
    <p><%= theory.explanation %></p><br />

    <% if theory.user.present? %>
      <small><%= theory.user.email %></small>
    <% end %>
  </div>
<% end %>