<div class="booyah-box col-10 offset-1">
  <h1>Enter your theory!</h1>
  <% simple_form_for @theory do |f| %>
    <%= f.input :title %>
    <%= f.input :writer %>
    <%= f.input :explanation %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>